<b>Partlist exported from C:/profissional/projetos/Altamax/hardware/Esquema_regua.sch at 19/01/2018 03:10</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>MF</b></td><td><b>MPN</b></td><td><b>OC_FARNELL</b></td><td><b>OC_NEWARK</b></td><td><b>SPICEPREFIX</b></td></tr>
<tr><td>C1</td><td>1 nF</td><td>C-EUC0402</td><td>C0402</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td>C</td></tr>
<tr><td>C2</td><td>0.1 uF</td><td>C-EUC0402</td><td>C0402</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td>C</td></tr>
<tr><td>F1</td><td></td><td>FUSE</td><td>FUSE</td><td>FUSE</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>HKLP1</td><td>HKLPM01</td><td>HKLPM01</td><td>HKLPM01</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC1</td><td>ACS712-LC</td><td>ACS712-LC</td><td>SOIC8</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC2</td><td>MC33269ST-3.3T3</td><td>MC33269ST-3.3T3</td><td>SOT223</td><td>Adjustable Output Low Dropout Voltage Regulator 800 mA</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>OK1</td><td>MOC3020M</td><td>MOC3020M</td><td>DIL06</td><td>RANDOM-PHASE OPTOISOLATORS TRIAC DRIVER OUTPUT</td><td>FAIRCHILD SEMICONDUCTOR</td><td>MOC3020-M</td><td>1505425</td><td>72K8895</td><td></td></tr>
<tr><td>R1</td><td>220R</td><td>SMR</td><td>SMR</td><td>SMD SHUNT RESISTOR</td><td></td><td></td><td>unknown</td><td>unknown</td><td></td></tr>
<tr><td>R2</td><td>680 ohms</td><td>SMR</td><td>SMR</td><td>SMD SHUNT RESISTOR</td><td></td><td></td><td>unknown</td><td>unknown</td><td></td></tr>
<tr><td>T2</td><td>BTA26-H</td><td>BTA26-H</td><td>TOP3L-1</td><td>25A TRIAC</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U$1</td><td>ESP12Q</td><td>ESP12Q</td><td>ESP12Q</td><td>ESP8266 Wifi module 12-Q</td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
